<div class="container">
    <div class="top-bar-bg">
        hey
    </div>

   <div class="container"> 
        <div class="top-bar-bg">
            hey
        </div>
    
    
 <div class="navi">
     <div class="logoUpeu">
         <a href="https://www.upeu.edu.pe/">
             
             <img src='assets/ComponentsViews/LogoInicio.png' width="297.141" height="60" >
            </a>
     </div>
     <ul class="main-nav">
     <li>
         <a href="" >
             <span class="menu-text">
                INICIO
             </span>
         </a>
     </li>
     <li id="TPVC">
         <a href="">
            <span class="menu-text">
                TIPOS DE VOCACION
            </span> 
            </a>
     </li>
     <li id="TSTVC">
         <a href="">
            <span class="menu-text">
                TEST VOCACION
            </span> 
            </a>
     </li>
     <li id="TPVC">
         <a href="">
            <span class="menu-text">
                RECIBIR ASESORIA
            </span> 
            </a>
     </li>
     </ul>
 </div>
</div>