<div class="container">
    <div class="top-bar-bg">
        hey
    </div>


    <div class="navi">yo soy navi
        <div class="logoUpeu">
            <a href="https://www.upeu.edu.pe/">

                <img src="src\recursos\ExportDataImagesProto\ComponentsViews\LogoInicio.png">
            </a>
        </div>
    </div>
    <nav>
        <a href="https://www.upeu.edu.pe/">
            <img src="src\recursos\ExportDataImagesProto\ComponentsViews\LogoInicio.png">
        </a>
        <a href="">INICIO</a>
        <a href="">TIPOS DE VOCACION</a>
        <a href=""> TEST VOCACINAL</a>
        <a href="">RECIBIR ASESORIA</a>
    </nav>
</div>